extends layout

block content
	div(id='error') You can drag the circle if you wish to change the location
	div(id='success') Your settings have been updated
	div(id='notify-window')
		ul(id="notify-list")
	nav.nav-g.nav.stats
			ul
				li 
					a(href='/login')
						img(id='ping-a-truck' src="/images/trucklrg.png")
				li(id="site-name-nav") Ping a Truck
				li(id="notify-right")
					span(id="notify-text") </span>| <a href='/logout' id='logout'> Logout</a>
		.units-row

			.unit-centered.unit-80
				button(id='slider-pull' class='btn btn-orange') Settings

				div(id='map-canvas')
				div(id='slider-el')
				.notification-slider
					form(action='/notify' method='post' class='forms' id='notify-form')
						p.text-centered Do you want text notifications? 
							<input id='text-checkbox' type='checkbox' name='notifyText'>
						input(id='user-phone-input' type='phone' placeholder='Enter Cell #' class='width-75 centered' name='text')
						p.text-centered Do you want email notifications?
							<input type='checkbox' id='email-checkbox' name='notifyEmail'>
						input(id='user-email-input' type='email' placeholder='Enter Email' class='width-75 centered' name='email')
						p
						input(id='notify-submit' class='btn btn-centered width-50 btn-orange' type='submit')
		