html
	head
		title #{title}
		link(rel='stylesheet' type='text/css' href='/stylesheets/kube/css/kube.css')
		link(rel='stylesheet' type='text/css' href='/stylesheets/login.css')
	body
	block content			