extends login-layout
block content
	title #{title}
	nav.nav-g.nav.stats
			ul
				li 
					a(href='/')
						img(id='ping-a-truck' src="/images/trucklrg.png")
				li(id="site-name-nav") Ping a Truck
	.darkbox
		p.instructions When do you want to eat?
		img.instruction-images(src='/images/timebar.png')
		p.instructions Where will you be?
		img.instruction-images(src='/images/map.png')
		p.instructions Get alerts when food trucks are nearby!
		a(href='/login/facebook')
			img(id='fblogin' src='/images/login-facebook.png')
		a(href='/auth/google')
			img(id='googlelogin' src='/images/login-google.png')
		a(href='/signup')
			img(id='signup' src='/images/signup.png')