extends layout

block content
	div(id='error') You can drag the circle if you wish to change the location
	div(id='notify-window')
		ul(id="notify-list")
	nav.nav-g.nav.stats
			ul
				li 
					a(href='/login')
						img(id='ping-a-truck' src="/images/trucklrg.png")
				li(id="site-name-nav") Ping a Truck
				li(id="notify-right")
					span(id="notify-text") </span>| <a href='/logout' id='logout'> Logout</a>
		.units-row
			.unit-centered.unit-80
				div(id='map-canvas')
				div(id='slider-el')