extends login-layout
block content
	title Food Truck Sign Up
	nav.nav-g.nav.stats
				ul
					li 
						a(href='/')
							img(id='ping-a-truck' src="/images/trucklrg.png")
					li(id="site-name-nav") Ping a Truck 
	.darkbox
		p.text-centered.bigger Benefits
		p.text-centered • Identify peak times and locations to maximize profits
		p.text-centered • Modify your route in real time based on customer locations
		p.text-centered • Notify customers when you are on your way to their area and when you arrive
		a(href='vendor/login/facebook')
			img(id='fblogin' src='/images/login-facebook.png')
		a(href='vendor/auth/google')
			img(id='googlelogin' src='/images/login-google.png')